body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(30, 69, 241);
    background-blend-mode: darken;
    color: white;
}

/* Carousel */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container > img {
    width: 50%;
  }
  .container > h1 {
    font-family: 'Montserrat', impact;
    font-weight: 800;
    font-size: 2.5em;
    margin-top: 10px;
    color: white;
    text-shadow: 0px 0px 10px black;
    letter-spacing: 2px;
  }
  /* ======= CAROUSEL SECTION ======== */
  .carousel-container {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
  .carousel-images {
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
  }
  .carousel-images img {
    width: 100%;
    border-radius: 10px;
    display: none;
  }
  .carousel-images img:first-of-type{
    display: block;
  }

  .carousel-images:hover{
      cursor: pointer;
  }

  .carousel-button {
    align-self: center;
    background: white;
    color: #888;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px black;
  }
  
  .carousel-button:hover {
    cursor: pointer;
    background: greenyellow;
    box-shadow: 0px 0px 10px black;
    color: white;
  }

/* Football */

#textbar{
    display: flex;
    align-content: center;
    justify-content: center;
}

#txtbx{
    background-color: white;
    color: rgb(30, 69, 241);
    border-radius: 10%;
    border-style: solid;
    border-color: white;
    margin-right: 10px;
}

#button{
    background-color: white;
    color: rgb(30, 69, 241);
    border-radius: 10%;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 10px black;
    width: 125px;
}
#button:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.middle{
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(https://wallpapercave.com/wp/PEepxxL.jpg);
    background-size: cover;
    background-position: center;
    max-width: 830px;
    height: 508px;
    margin-top: 10px;
    padding-top: 15px;
    border-radius: 2%;
    box-shadow: 0px 1px 10px black;
}

.info{
     text-align: center;
     align-self: center;
}

.info dl{
    color: white;
    line-height: 10px;
}

h2{
    text-shadow: 0px 1px 5px black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




@media only screen and (max-width: 800px) {
    .middle {
        background-size: cover;
        background-position: center;
        max-width: 830px;
        height: 508px;
    }
  }
